.about{
    display: flex;
    justify-content: center;
}
.about-container {
    background-color: #f0f0f0;
    padding: 50px;
    border-radius: 5px;
    margin-top: 20px;
    width: 70%;
    max-width: 900px;
    min-width: 300px;
}